---
layout: base.liquid
title: Is this Website working?
---

<h1>Welcome to my NPS Website!</h1>
<main>
    <p>The website connects to the NPS API and allows you to learn about every National Park</p>
    <h2>Assingment Components Links</h2>
    <ul class="assignment_links">
        <li>
            <a href="/hello">Visit the OTHER Page</a>
            <p> This is the EXTRA page that does nothing.</p>
        </li>
        <li>
            <a href="/maine">Visit Maine Parks</a>
            <p> This is the MAINE Parks page. Data from maine.json.</p>
        </li>
        <li>
            <a href="/massachusetts">Visit Mass Parks</a>
            <p> This is the MASSACHUSETTS PARKS page. Data from massachusetts.js (from the API)</p>
        </li>
        <li>
            <a href="/all-parks">Visit ALL Parks</a>
            <p> This is the ALL PARKS page. Data from parks.js (from the API)</p>
        </li>
    </ul>   
</main>


